<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inventory</title>
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/limitless/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/limitless/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/limitless/assets/css/core.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/limitless/assets/css/components.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/limitless/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->
        {% block page_stylesheets %}
        {% endblock %}
        <!-- Core JS files -->
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/plugins/loaders/pace.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/core/libraries/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/core/libraries/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/plugins/loaders/blockui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/plugins/ui/nicescroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('themes/limitless/assets/js/plugins/ui/drilldown.js') }}"></script>
        <!-- /core JS files -->
        {% block page_javascripts %}
        {% endblock %}
    </head>
    <body>
        <!-- Main navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img src="" alt=""></a>
                <ul class="nav navbar-nav pull-right visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-git-compare"></i>
                            <span class="visible-xs-inline-block position-right">New Transaction</span>
                            <span class="badge bg-warning-400">9</span>
                        </a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                New Transaction
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-sync"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-people"></i>
                            <span class="visible-xs-inline-block position-right">Users</span>
                        </a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Users online
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-gear"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-300">
                                <li class="media">
                                    <div class="media-left"><img src="{{ asset('themes/limitless/assets/images/placeholder.jpg') }}" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold">Jordana Ansley</a>
                                        <span class="display-block text-muted text-size-small">Lead web developer</span>
                                    </div>
                                    <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                                </li>
                            </ul>
                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="All users"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>

                <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown language-switch">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('themes/limitless/assets/images/flags/gb.png') }}" class="position-left" alt="">
                            English
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="english"><img src="{{ asset('themes/limitless/assets/images/flags/gb.png') }}" alt=""> English</a></li>
                            <li><a class="espana"><img src="{{ asset('themes/limitless/assets/images/flags/id.png') }}" alt=""> Bahasa</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('themes/limitless/assets/images/placeholder.jpg') }}" alt="">
                            <span>Account</span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                            <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                            <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                            <li><a href="/logout"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->


        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"><i class="icon-display4 position-left"></i> Dashboard</a></li>

                    <li class="dropdown mega-menu mega-menu-wide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-stars position-left"></i> Data <span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">Setup</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-align-center-horizontal"></i> Company</a>
                                                <ul>
                                                    <li><a href="#">Profile</a></li>
                                                    <li><a href="#">Logo</a></li>
                                                    <li><a href="#">Legal</a></li>
                                                </ul>
                                            </li>                                            
                                            <li>
                                                <a href="#"><i class="icon-stack2"></i> Identitas</a>
                                                <ul>
                                                    <li><a href="#">Staff</a></li>
                                                    <li><a href="#">Nasabah</a></li>
                                                    <li><a href="#">Partner</a></li>
                                                    <li><a href="#">Client</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">Layout</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-indent-decrease2"></i> Sidebars</a>
                                                <ul>
                                                    <li><a href="sidebar_default_collapse.html">Default collapsible</a></li>
                                                    <li><a href="sidebar_default_hide.html">Default hideable</a></li>
                                                    <li><a href="sidebar_mini_collapse.html">Mini collapsible</a></li>
                                                    <li><a href="sidebar_mini_hide.html">Mini hideable</a></li>
                                                    <li>
                                                        <a href="#">Dual sidebar</a>
                                                        <ul>
                                                            <li><a href="sidebar_dual.html">Dual sidebar</a></li>
                                                            <li><a href="sidebar_dual_double_collapse.html">Dual double collapse</a></li>
                                                            <li><a href="sidebar_dual_double_hide.html">Dual double hide</a></li>
                                                            <li><a href="sidebar_dual_swap.html">Swap sidebars</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Double sidebar</a>
                                                        <ul>
                                                            <li><a href="sidebar_double_collapse.html">Collapse main sidebar</a></li>
                                                            <li><a href="sidebar_double_hide.html">Hide main sidebar</a></li>
                                                            <li><a href="sidebar_double_fix_default.html">Fix default width</a></li>
                                                            <li><a href="sidebar_double_fix_mini.html">Fix mini width</a></li>
                                                            <li><a href="sidebar_double_visible.html">Opposite sidebar visible</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="sidebar_categories.html">Separate categories</a></li>
                                                    <li><a href="sidebar_hidden.html">Hidden sidebar</a></li>
                                                    <li><a href="sidebar_dark.html">Dark sidebar</a></li>
                                                    <li><a href="sidebar_components.html">Sidebar components</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-sort"></i> Vertical navigation</a>
                                                <ul>
                                                    <li><a href="navigation_vertical_collapsible.html">Collapsible menu</a></li>
                                                    <li><a href="navigation_vertical_accordion.html">Accordion menu</a></li>
                                                    <li><a href="navigation_vertical_sizing.html">Navigation sizing</a></li>
                                                    <li><a href="navigation_vertical_bordered.html">Bordered navigation</a></li>
                                                    <li><a href="navigation_vertical_right_icons.html">Right icons</a></li>
                                                    <li><a href="navigation_vertical_labels_badges.html">Labels and badges</a></li>
                                                    <li><a href="navigation_vertical_disabled.html">Disabled navigation links</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-transmission"></i> Horizontal navigation</a>
                                                <ul>
                                                    <li><a href="navigation_horizontal_click.html">Submenu on click</a></li>
                                                    <li><a href="navigation_horizontal_hover.html">Submenu on hover</a></li>
                                                    <li><a href="navigation_horizontal_elements.html">With custom elements</a></li>
                                                    <li><a href="navigation_horizontal_tabs.html">Tabbed navigation</a></li>
                                                    <li><a href="navigation_horizontal_disabled.html">Disabled navigation links</a></li>
                                                    <li><a href="navigation_horizontal_mega.html">Horizontal mega menu</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-paragraph-justify3"></i> Navbars</a>
                                                <ul>
                                                    <li><a href="navbar_single.html">Single navbar</a></li>
                                                    <li>
                                                        <a href="#">Multiple navbars</a>
                                                        <ul>
                                                            <li><a href="navbar_multiple_navbar_navbar.html">Navbar + navbar</a></li>
                                                            <li><a href="navbar_multiple_header_navbar.html">Header + navbar</a></li>
                                                            <li><a href="navbar_multiple_navbar_content.html">Navbar + content</a></li>
                                                            <li><a href="navbar_multiple_top_bottom.html">Top + bottom</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="navbar_colors.html">Color options</a></li>
                                                    <li><a href="navbar_sizes.html">Sizing options</a></li>
                                                    <li><a href="navbar_hideable.html">Hide on scroll</a></li>
                                                    <li><a href="navbar_components.html">Navbar components</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-tree5"></i> Menu levels</a>
                                                <ul>
                                                    <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                                                    <li>
                                                        <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                                        <ul>
                                                            <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                                            <li>
                                                                <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                                                <ul>
                                                                    <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                                                    <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">Data visualization</span>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="#"><i class="icon-graph"></i> Echarts library</a>
                                                <ul>
                                                    <li><a href="echarts_lines_areas.html">Lines and areas</a></li>
                                                    <li><a href="echarts_columns_waterfalls.html">Columns and waterfalls</a></li>
                                                    <li><a href="echarts_bars_tornados.html">Bars and tornados</a></li>
                                                    <li><a href="echarts_scatter.html">Scatter charts</a></li>
                                                    <li><a href="echarts_pies_donuts.html">Pies and donuts</a></li>
                                                    <li><a href="echarts_funnels_chords.html">Funnels and chords</a></li>
                                                    <li><a href="echarts_candlesticks_others.html">Candlesticks and others</a></li>
                                                    <li><a href="echarts_combinations.html">Chart combinations</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-statistics"></i> D3 library</a>
                                                <ul>
                                                    <li><a href="d3_lines_basic.html">Simple lines</a></li>
                                                    <li><a href="d3_lines_advanced.html">Advanced lines</a></li>
                                                    <li><a href="d3_bars_basic.html">Simple bars</a></li>
                                                    <li><a href="d3_bars_advanced.html">Advanced bars</a></li>
                                                    <li><a href="d3_pies.html">Pie charts</a></li>
                                                    <li><a href="d3_circle_diagrams.html">Circle diagrams</a></li>
                                                    <li><a href="d3_tree.html">Tree layout</a></li>
                                                    <li><a href="d3_other.html">Other charts</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-stats-dots"></i> Dimple library</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Line charts</a>
                                                        <ul>
                                                            <li><a href="dimple_lines_horizontal.html">Horizontal orientation</a></li>
                                                            <li><a href="dimple_lines_vertical.html">Vertical orientation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bar charts</a>
                                                        <ul>
                                                            <li><a href="dimple_bars_horizontal.html">Horizontal orientation</a></li>
                                                            <li><a href="dimple_bars_vertical.html">Vertical orientation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Area charts</a>
                                                        <ul>
                                                            <li><a href="dimple_area_horizontal.html">Horizontal orientation</a></li>
                                                            <li><a href="dimple_area_vertical.html">Vertical orientation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Step charts</a>
                                                        <ul>
                                                            <li><a href="dimple_step_horizontal.html">Horizontal orientation</a></li>
                                                            <li><a href="dimple_step_vertical.html">Vertical orientation</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="dimple_pies.html">Pie charts</a></li>
                                                    <li><a href="dimple_rings.html">Ring charts</a></li>
                                                    <li><a href="dimple_scatter.html">Scatter charts</a></li>
                                                    <li><a href="dimple_bubble.html">Bubble charts</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-stats-bars"></i> C3 library</a>
                                                <ul>
                                                    <li><a href="c3_lines_areas.html">Lines and areas</a></li>
                                                    <li><a href="c3_bars_pies.html">Bars and pies</a></li>
                                                    <li><a href="c3_advanced.html">Advanced examples</a></li>
                                                    <li><a href="c3_axis.html">Chart axis</a></li>
                                                    <li><a href="c3_grid.html">Grid options</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-google"></i> Google visualization</a>
                                                <ul>
                                                    <li><a href="google_lines.html">Line charts</a></li>
                                                    <li><a href="google_bars.html">Bar charts</a></li>
                                                    <li><a href="google_pies.html">Pie charts</a></li>
                                                    <li><a href="google_scatter_bubble.html">Bubble &amp; scatter charts</a></li>
                                                    <li><a href="google_other.html">Other charts</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="menu-heading underlined">Extras</span>
                                        <ul class="menu-list">
                                            <li><a href="animations_css3.html"><i class="icon-spinner3 spinner position-left"></i> CSS3 animations</a></li>
                                            <li>
                                                <a href="#"><i class="icon-spinner10 spinner position-left"></i> Velocity animations</a>
                                                <ul>
                                                    <li><a href="animations_velocity_basic.html">Basic usage</a></li>
                                                    <li><a href="animations_velocity_ui.html">UI pack effects</a></li>
                                                    <li><a href="animations_velocity_examples.html">Advanced examples</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-map5"></i> Maps integration</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Google maps</a>
                                                        <ul>
                                                            <li><a href="maps_google_basic.html">Basics</a></li>
                                                            <li><a href="maps_google_controls.html">Controls</a></li>
                                                            <li><a href="maps_google_markers.html">Markers</a></li>
                                                            <li><a href="maps_google_drawings.html">Map drawings</a></li>
                                                            <li><a href="maps_google_layers.html">Layers</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="maps_vector.html">Vector maps</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-magazine"></i> Timelines</a>
                                                <ul>
                                                    <li><a href="timelines_left.html">Left timeline</a></li>
                                                    <li><a href="timelines_right.html">Right timeline</a></li>
                                                    <li><a href="timelines_center.html">Centered timeline</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-thumbs-up2 position-left"></i> Icons</a>
                                                <ul>
                                                    <li><a href="icons_glyphicons.html">Glyphicons</a></li>
                                                    <li><a href="icons_icomoon.html">Icomoon</a></li>
                                                    <li><a href="icons_fontawesome.html">Font awesome</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-make-group position-left"></i> Page kits <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">
                            <li class="dropdown-header">General pages</li>						
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-task"></i> Blog</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="blog_classic_v.html">Classic vertical</a></li>
                                    <li><a href="blog_classic_h.html">Classic horizontal</a></li>
                                    <li><a href="blog_grid.html">Grid</a></li>
                                    <li><a href="blog_single.html">Single post</a></li>
                                    <li class="divider"></li>
                                    <li><a href="blog_sidebar_left.html">Left sidebar</a></li>
                                    <li><a href="blog_sidebar_right.html">Right sidebar</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-images2"></i> Gallery</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="gallery_grid.html">Media grid</a></li>
                                    <li><a href="gallery_titles.html">Media with titles</a></li>
                                    <li><a href="gallery_description.html">Media with description</a></li>
                                    <li><a href="gallery_library.html">Media library</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-grid6"></i> Others</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="general_feed.html">Feed</a></li>
                                    <li><a href="general_widgets_content.html">Content widgets</a></li>
                                    <li><a href="general_widgets_stats.html">Statistics widgets</a></li>
                                    <li><a href="general_embeds.html">Embeds</a></li>
                                    <li><a href="general_faq.html">FAQ page</a></li>
                                    <li><a href="general_knowledgebase.html">Knowledgebase</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">Service pages</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-cash3"></i> Invoicing</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="invoice_template.html">Invoice template</a></li>
                                    <li><a href="invoice_grid.html">Invoice grid</a></li>
                                    <li><a href="invoice_archive.html">Invoice archive</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-user-plus"></i> Authentication</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Basic</li>
                                    <li><a href="login_simple.html">Simple login</a></li>
                                    <li><a href="login_advanced.html">More login info</a></li>
                                    <li><a href="login_registration.html">Simple registration</a></li>
                                    <li><a href="login_registration_advanced.html">More registration info</a></li>
                                    <li><a href="login_validation.html">With validation</a></li>
                                    <li><a href="login_tabbed.html">Tabbed form</a></li>
                                    <li><a href="login_modals.html">Inside modals</a></li>
                                    <li class="dropdown-header highlight">Service</li>
                                    <li><a href="login_unlock.html">Unlock user</a></li>
                                    <li><a href="login_password_recover.html">Reset password</a></li>
                                    <li class="dropdown-header highlight">Other</li>
                                    <li><a href="login_hide_navbar.html">Hide navbar</a></li>
                                    <li><a href="login_transparent.html">Transparent box</a></li>
                                    <li><a href="login_background.html">Background option</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-warning"></i> Error pages</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="error_403.html">Error 403</a></li>
                                    <li><a href="error_404.html">Error 404</a></li>
                                    <li><a href="error_405.html">Error 405</a></li>
                                    <li><a href="error_500.html">Error 500</a></li>
                                    <li><a href="error_503.html">Error 503</a></li>
                                    <li><a href="error_offline.html">Offline page</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-grid6"></i> Others</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="service_sitemap.html">Sitemap</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">User pages</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-profile"></i> Profile</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="user_pages_profile.html">Simple profile</a></li>
                                    <li><a href="user_pages_profile_tabbed.html">Tabbed profile</a></li>
                                    <li><a href="user_pages_profile_cover.html">Profile with cover</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-grid6"></i> Others</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="user_pages_cards.html">User cards</a></li>
                                    <li><a href="user_pages_list.html">User list</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">Apps</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-task"></i> Task manager</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="task_manager_grid.html">Task grid</a></li>
                                    <li><a href="task_manager_list.html">Task list</a></li>
                                    <li><a href="task_manager_detailed.html">Task detailed</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-search4"></i> Search</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Basic</li>
                                    <li><a href="search_basic.html">Basic search results</a></li>
                                    <li><a href="search_users.html">User search results</a></li>
                                    <li class="dropdown-header highlight">Media</li>
                                    <li><a href="search_images.html">Image search results</a></li>
                                    <li><a href="search_videos.html">Video search results</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-envelop2"></i> Inbox</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Mail</li>
                                    <li><a href="mail_list.html">Mail list</a></li>
                                    <li><a href="mail_read.html">Read mail</a></li>
                                    <li><a href="mail_write.html">Write mail</a></li>
                                    <li class="dropdown-header highlight">Chats</li>
                                    <li><a href="chat_layouts.html">Chat layouts</a></li>
                                    <li><a href="chat_options.html">Chat options</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-user-tie"></i> Job search</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="job_list_cards.html">Cards view</a></li>
                                    <li><a href="job_list_panel.html">Panel view</a></li>
                                    <li><a href="job_detailed.html">Job detailed</a></li>
                                    <li><a href="job_apply.html">Apply</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-graduation"></i> Learning</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="learning_list.html">List view</a></li>
                                    <li><a href="learning_grid.html">Grid view</a></li>
                                    <li><a href="learning_detailed.html">Detailed course</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-cart2"></i> Ecommerce set</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">Options</li>
                                    <li><a href="ecommerce_product_list.html">Product list</a></li>
                                    <li><a href="ecommerce_product_grid.html">Product grid</a></li>
                                    <li><a href="ecommerce_orders_history.html">Orders history</a></li>
                                    <li><a href="ecommerce_customers.html">Customers</a></li>
                                    <li><a href="ecommerce_pricing.html">Pricing tables</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="changelog.html">
                            <i class="icon-history position-left"></i>
                            Changelog
                            <span class="label label-inline position-right bg-success-400">1.6</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog3"></i>
                            <span class="visible-xs-inline-block position-right">Share</span>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                            <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /second navbar -->


        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4>
                        <i class="icon-arrow-left52 position-left"></i>
                        <span class="text-semibold">Home</span> - Dashboard
                        <small class="display-block">Hello!</small>
                    </h4>
                </div>
            </div>
        </div>
        <!-- /page header -->

        <!-- Page container -->
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                <!-- Main content -->
                <div class="content-wrapper">
                    {% block body %}
                    {% endblock %}
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
        <!-- /page container -->

    </body>
</html>
